<div th:if="${mensagemErro !=null}">
	<div class="alert alert-danger alert-dismissible" role="alert">
  		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  		<span th:utext="${mensagemErro}" style="font-size: 14px;">mensagem</span>
	</div>
</div>

<div th:if="${mensagemSucesso !=null}">
	<div class="alert alert-success alert-dismissible" role="alert">
  		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  		<span th:utext="${mensagemSucesso}" style="font-size: 14px;">mensagem</span>
	</div>
</div>