<!DOCTYPE html>
<html lang="en">

<head>
    <span th:insert="components/head"></span>
    <style>
    .intro{
  background: #ffffff;
  width: 100%;
  height: 30rem;
  display: flex;
  align-items: center;
}
    
    </style>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
	
		<!--         Sidebar -->
		<span th:insert="components/sidebar"></span>
		<!--         End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <span th:insert="components/topbar"></span>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <span th:insert="components/pageHeading"></span>
					<!-- End of Page Heading -->
					<!-- Page Heading -->
                    <span th:insert="components/mensagem"></span>
                    <!-- End of Page Heading -->
                    
                            <div class="row">



            <div class="col-xl-12 col-lg-12 col-md-12" >
				<div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->

                        
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="p-5">

<!--                                     <div class="text-center"> -->
<!--                                         <h1 class="h4 text-gray-900 mb-4">Informações da nova unidade</h1> -->
<!--                                     </div> -->
                                    
									<ul class="nav nav-tabs" id="myTab" role="tablist">
									  <li class="nav-item" role="presentation">
									    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#unidade" role="tab" aria-controls="home" aria-selected="true"><i class="far fa-building"></i> A Unidade</a>
									  </li>
									  <li class="nav-item" role="presentation">
									    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#administrador" role="tab" aria-controls="profile" aria-selected="false"><i class="fas fa-user-shield"></i> Administradores</a>
									  </li>
									  <li class="nav-item" role="presentation">
									    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#documentos" role="tab" aria-controls="contact" aria-selected="false"><i class="fas fa-folder-open"></i> Documentos</a>
									  </li>
									  <li class="nav-item" role="presentation">
									    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#historico" role="tab" aria-controls="contact" aria-selected="false"><i class="fas fa-history"></i> Histórico</a>
									  </li>
									</ul>
									<div class="tab-content" id="myTabContent">
									  <div class="tab-pane fade show active" id="unidade" role="tabpanel" aria-labelledby="home-tab">
									  
											<form class="user" th:object="${unidade}" onsubmit="openModal()" enctype="multipart/form-data">
											<br/>
		                           		  	<div class="text-right">
		                                        <h3 class="h3 text-gray-900 mb-4" th:text="'Situação atual: '+ ${unidade.tipoEstadoAtual.nome}">&nbsp;</h3>
		                                    </div>
									  
									  <div th:if="${unidade.idEstadoAtual == 1}">
									  
									  <div class="btn-group " role="group" aria-label="Basic example" style="float: right;">
											  	<a onclick="openModal();" th:href="'alterarSituacaoUnidade?id='+${unidade.id}+'&novaSituacao=2'" class="btn btn-success"><i class="fas fa-play-circle"></i>&nbsp;Publicar</a>
											  	<a onclick="openModal();" th:href="'abrirAlterarUnidade?id='+${unidade.id}" class="btn btn-primary"><i class="fas fa-edit" aria-hidden="true"></i>&nbsp;Alterar Unidade</a>
											  	<a onclick="openModal();"  href="#" data-toggle="modal" data-target="#modalExcluir" th:onclick="'setaDadosModal(' + ${unidade.id} + ');'" class="btn btn-danger"><i class="fas fa-trash-alt" aria-hidden="true"></i>&nbsp;Excluir</a>
										</div>
									  </div>
									  
									  <div th:if="${unidade.idEstadoAtual == 2}">
									  		<div class="btn-group " role="group" aria-label="Basic example" style="float: right;">
									  			<a onclick="openModal();" th:href="'alterarSituacaoUnidade?id='+${unidade.id}+'&novaSituacao=1'" class="btn btn-primary "><i class="fas fa-edit" aria-hidden="true"></i>&nbsp;Colocar em Edição</a>
											  	<a onclick="openModal();" th:href="'alterarSituacaoUnidade?id='+${unidade.id}+'&novaSituacao=3'" class="btn btn-warning "><i class="fas fa-pause" aria-hidden="true"></i>&nbsp;Desativar Unidade</a>
										  </div>
									  </div>
									  
									  <div th:if="${unidade.idEstadoAtual == 3}">
									  		<div class="btn-group " role="group" aria-label="Basic example" style="float: right;">
											  	<a onclick="openModal();" th:href="'alterarSituacaoUnidade?id='+${unidade.id}+'&novaSituacao=1'" class="btn btn-primary"><i class="fas fa-edit" aria-hidden="true"></i>&nbsp;Colocar em Edição</a>
										  </div>
									  </div>
									<div class="bg-light clearfix"></div>
									<br/>
		                                    <div class="row" >
		                                    	<div class="col-lg-8">
			                                    	<div class="form-group ">
													   
													  </div>
			                                    </div>
		                                    	<div class="col-lg-2">
			                                    	<div class="form-group ">
			                                    	 		<span th:if="${unidade.idArquivoImagem >0}">
													    		<img th:src="${'downloadArquivo?id='+unidade.idArquivoImagem}" class="card-img" alt="..." width="150" height="120" style="padding: 5px;border: 1px solid silver;">
													    	</span>
													    	<span th:if="${unidade.idArquivoImagem ==0}" style="color: red;">
													    		<p align="right"><i class="fas fa-exclamation-circle"></i> Sem imagem disponibilizada para a Unidade </p>
													    		<img src="img/unidade.png" class="card-img" alt="..." width="150" height="120" style="padding: 5px;border: 1px solid silver;">
													    	</span>
													  </div>
			                                    </div>
			                                    <div class="col-lg-2">
			                                    	<div class="form-group ">
			                                    	 <span th:if="${unidade.idArquivoOrganograma >0}">
													    		<img th:src="${'downloadArquivo?id='+unidade.idArquivoOrganograma}" class="card-img" alt="..." width="150" height="120" style="padding: 5px;border: 1px solid silver;">
													    	</span>
													    	<span th:if="${unidade.idArquivoOrganograma ==0}" style="color: red;">
													    		<p align="right"><i class="fas fa-exclamation-circle"></i> Sem imagem disponibilizada para o organograma desta Unidade </p>
													    		<img src="img/unidade.png" class="card-img" alt="..." width="150" height="120" style="padding: 5px;border: 1px solid silver;">
													    	</span>
													  </div>
			                                    </div>
		                                    </div>
									
		                                    <div class="row">
		                                    	<div class="col-lg-6">
			                                    	<div class="form-group ">
													    <label for="exampleInputEmail1">Identificador</label>
													    <input type="text" class="form-control" id="id" name="id" aria-describedby="emailHelp" th:value="*{id}" disabled="disabled">
													  </div>
			                                    </div>
		                                    	<div class="col-lg-6">
			                                    	<div class="form-group ">
													    <label for="exampleInputEmail1">Nome completo da nova Unidade</label>
													    <input type="text" class="form-control" id="nome" name="nome" aria-describedby="emailHelp" th:value="*{nome}" disabled="disabled">
													  </div>
			                                    </div>
		                                    </div>
		                                    
		                                    <div class="row">
										<div class="col-lg-4">                 
								              <div class="checkout__input ">
				                                <p>Tipo de Unidade<span>*</span></p>
				                                <select class="form-control" id="tipoUnidade" name="tipoUnidade" th:field="*{tipoUnidade}" disabled="disabled">
											    	<option th:each="tipo : ${tipos}" th:value="${tipo.id}" th:utext="${tipo.id +' - '+ tipo.nome}"/>
												</select>
				                             </div>
                                        </div>
                                        
                                        <div class="col-lg-6">                 
								              <div class="checkout__input ">
				                                <p>Tipo Hierárquico<span>*</span></p>
				                                <select class="form-control" id="tipoHierarquia" name="tipoHierarquia" th:field="*{tipoHierarquia}" disabled="disabled">
											      <option value="S">Principal</option>
											      <option value="D">Departamento ou divisão</option>
											    </select>
				                             </div>
                                        </div>
                                        
                                       <div class="col-lg-2">                 
								              <div class="checkout__input ">
				                                <p>Esta unidade trata Covid-19?<span>*</span></p>
				                                <select class="form-control" id="trataCovid" name="trataCovid" th:field="*{trataCovid}" disabled="disabled">
												      <option value="2">Não</option>
												      <option value="1">Sim</option>
											    </select>
				                             </div>
                                        </div>
		
		                                    </div>
		                                    
		                                    <div class="row">
		                                    	<div class="col-lg-6">
			                                    	<div class="form-group ">
													    <label for="exampleInputEmail1">CNPJ</label>
													    <input type="text" class="form-control" id="cnpjFormatado" name="cnpjFormatado" aria-describedby="emailHelp" th:value="*{cnpjFormatado}" disabled="disabled">
													  </div>
												</div>
												
												<div class="col-lg-6">
			                                    	<div class="form-group ">
													    <label for="exampleInputEmail1">Código CNES</label>
													    <input type="number" class="form-control" id="codigoCnes" name="codigoCnes" aria-describedby="emailHelp" th:value="*{codigoCnes}" disabled="disabled">
													  </div>
			                                    </div>
											</div>
		
											<div class="row">
												<div class="col-lg-4">
			                                    	<div class="form-group">
													    <label for="exampleFormControlSelect1">Endereço</label>
													    <input type="text" class="form-control" id="endereco" name="endereco" aria-describedby="emailHelp" th:value="*{endereco}" disabled="disabled">
													  </div>
												</div>
												
												<div class="col-lg-3">
			                                    	<div class="form-group">
													    <label for="exampleFormControlSelect1">Cidade<span>*</span></label>
													    <input type="text" class="form-control" id="cidade" name="cidade" aria-describedby="emailHelp" th:value="*{cidade}" disabled="disabled">
													  </div>
												</div>
												
												<div class="col-lg-3">
			                                    	<div class="form-group ">
													    <label for="exampleInputEmail1">CEP</label>
													    <input type="text" class="form-control" id="cep" name="cep" aria-describedby="emailHelp" th:value="*{cep}" disabled="disabled">
													  </div>
												</div>
												
												<div class="col-lg-2">
			                                    	<div class="form-group ">
													    <label for="exampleInputEmail1">UF</label>
													    <select class="form-control" id="uf" name="uf" th:field="*{uf}" disabled="disabled">
													    	<option th:each="uf : ${ufs}" th:value="${uf.id}" th:utext="${uf.id +' - '+ uf.nome}"/>
														</select>
													  </div>
			                                    </div>
		
											</div>
		
											<div class="row">
												<div class="col-lg-6">
			                                    	<div class="form-group">
													    <label for="exampleFormControlSelect1">Telefone da Unidade</label>
													    <input type="text" class="form-control" id="telefone" name="telefone" aria-describedby="emailHelp" th:value="*{telefone}" disabled="disabled">
													  </div>
												</div>
												
												<div class="col-lg-6">
			                                    	<div class="form-group ">
													    <label for="exampleInputEmail1">E-mail da Unidade</label>
													    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" th:value="*{email}" disabled="disabled">
													  </div>
												</div>
											</div>
											
											<div class="row">
		                                    	<div class="col-lg-12">
			                                    	<div class="form-group ">
													    <label for="exampleInputEmail1">Descrição da Unidade</label>
													   <textarea class="form-control" id="resumo" name="resumo" rows="7" th:field="*{resumo}" disabled="disabled"></textarea>
													  </div>
			                                    </div>
											</div>
		
											  <hr>
											</form>
									  
									  </div>
									  <div class="tab-pane fade" id="administrador" role="tabpanel" aria-labelledby="profile-tab">
									  		<div class="text-center">
		                                        <h1 class="h4 text-gray-900 mb-4">&nbsp;</h1>
		                                    </div>
		                                    
		                                    <div class="bg-light clearfix">
											  	<a onclick="openModal();" href="novoUsuario" class="btn btn-primary float-right" title="Novo Administrador"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Adicionar novo administrador</a>
											</div>
									 		<br/>
		                                    
			                                  <div th:if="${#lists.isEmpty(administradores)}">
										  		<div class="row">
									  				<div class="col-md-12">
										  				<div class="alert alert-warning" role="alert">
														  <p style="font-weight: bold;border-bottom: 1px solid gray;"><i class="fa fa-frown-o" aria-hidden="true"></i>&nbsp;Administradores</p>
														  <p align="center">Sem administradores para exibir no momento. Serão exibidos aqui usuários registrados como Administrador e que estejam na situação Ativo.</p>
														</div>
									  				</div>
									  			</div>	
											</div>
											
											<div th:unless="${#lists.isEmpty(administradores)}">
									  		<form class="user">
											  	<div class="table-responsive">
					                                <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
					                                    <thead >
					                                        <tr>
					                                        	<th>Id</th>
					                                            <th>Nome</th>
					                                            <th>Função</th>
					                                            <th>Currículo</th>
					                                            <th>&nbsp;</th>
					                                        </tr>
					                                    </thead>

					                                    <tbody>
						                            		<tr th:each="obj : ${administradores}">
						                            			<td th:text="${obj.id}"></td>
						                            			<td th:text="${obj.nome}"></td>
						                            			<td th:text="${obj.funcao.nome}"></td>
						                            			<td th:text="${obj.curriculo}"></td>
						                            			<td align="right">
																	
						                            			</td>
						                            		</tr>
						                            	</tbody>	
					                                </table>
			                                	</div>
			                                	
<!-- 			                                <div class="bg-light clearfix"> -->
<!-- 												<a onclick="openModal();" href="unidades" class="btn btn-primary float-right " title="Ir para a lista de unidades"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Exibir lista de Unidades</a> -->
<!-- 											</div> -->
			                                	
		                                	</form>
				                                	
	                                	</div>
									  
									  </div>
									  <div class="tab-pane fade" id="documentos" role="tabpanel" aria-labelledby="contact-tab">
									  		<div class="text-center">
		                                        <h1 class="h4 text-gray-900 mb-4">&nbsp;</h1>
		                                    </div>
		                                    
		                                    <div class="bg-light clearfix">
											  	<a onclick="openModal();" href="novoDocumento" class="btn btn-primary float-right" title="Dashboard"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Adicionar novo documento</a>
											</div>
									 		<br/>
									 		<div th:if="${#lists.isEmpty(arquivos)}">
									  		<div class="row">
								  				<div class="col-md-12">
									  				<div class="alert alert-warning" role="alert">
													  <p style="font-weight: bold;border-bottom: 1px solid gray;"><i class="fa fa-frown-o" aria-hidden="true"></i>&nbsp;Arquivos</p>
													  <p align="center">Sem arquivos para exibir no momento.</p>
													</div>
								  				</div>
								  			</div>	
										</div>
												  	
										<div th:unless="${#lists.isEmpty(arquivos)}">
											  	<div class="table-responsive">
					                                <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
					                                    <thead >
					                                        <tr>
					                                        	<th>Id</th>
					                                            <th>Nome</th>
					                                            <th>Tipo Arq</th>
					                                            <th>Periodicidade</th>
<!-- 					                                            <th>Formato</th> -->
					                                            <th>Tam</th>
					                                            <th>Data</th>
					                                            <th>Situação Atual</th>
					                                            <th>&nbsp;</th>
					                                        </tr>
					                                    </thead>

					                                    <tbody>
						                            		<tr th:each="arquivo : ${arquivos}">
						                            			<td th:text="${arquivo.id}"></td>
						                            			<td th:text="${arquivo.nomeExibicao}"></td>
						                            			<td th:text="${arquivo.tipoDocumento.nome}"></td>
						                            			<td th:text="${arquivo.tipoDocumento.periodicidade}"></td>
						                            			<td th:text="${arquivo.tamanho}"></td>
						                            			<td th:text="${#dates.format(arquivo.tsRegistro, 'dd-MM-yyyy HH:mm')}"></td>
						                            			<td th:text="${arquivo.nomeEstadoAtual}"></td>
<!-- 						                            			<td th:utext=${arquivo.urlAssociacao}></td> -->
						                            			<td align="right">
<!-- 						                            				<a  title="baixar arquivo" th:href="'javascript:setarValor(\'' + ${arquivo.id} + '\');'"> -->
<!-- 						                            					<i class="fas fa-download"></i> -->
<!-- 						                            				</a><br/> -->
						                            				<a onclick="openModal();" class="btn btn-primary" title="Exibir informações do documento e do processo" th:href="'detalharDocumento?id='+${arquivo.id}">
						                            					<i class="fas fa-info" aria-hidden="true"></i> Detalhar
						                            				</a>
						                            				<a onclick="openModal();" class="btn btn-primary" title="Baixar o documento" th:href="'downloadArquivo?id='+${arquivo.id}">
						                            					<i class="fas fa-download" aria-hidden="true"></i> Download
						                            				</a>
<!-- 						                            				<a  title="Excluir" th:href="'javascript:setarValor2(\'' + ${arquivo.id} + '\');'"> -->
<!-- 						                            					<i class="fas fa-trash-alt" aria-hidden="true"></i> -->
<!-- 						                            				</a>  -->
<!-- 																	<a style="color: red;"  title="Excluir Documento" href="#" data-toggle="modal" data-target="#modalExcluir" th:onclick="'setaDadosModal(\'' + ${arquivo.id} + '\');'"> -->
<!-- 									                                    <i class="fas fa-trash-alt" aria-hidden="true"></i> -->
<!-- 									                                </a> -->
						                            			</td>
						                            		</tr>
						                            	</tbody>	
					                                </table>
			                                	</div>
	                                	</div>
									 
									  </div>
									  
									  <div class="tab-pane fade" id="historico" role="tabpanel" aria-labelledby="contact-tab">
									  		<div class="text-center">
		                                        <h1 class="h4 text-gray-900 mb-4">&nbsp;</h1>
		                                    </div>
									  
									  				<div class="table-responsive">
						                                <table class="table table-hover" id="dataTable2" width="100%" cellspacing="0">
						                                    <thead >
						                                        <tr>
						                                        	<th>Estado</th>
						                                        	<th>Data/hora Início</th>
						                                        	<th>Data/hora Fim</th>
						                                        	<th>Responsável</th>
						                                        	<th>Observação</th>
						                                        </tr>
						                                    </thead>
						                                    <tbody>
							                            		<tr th:each="estado : ${estados}">
							                            			<td th:text="${estado.nomeEstado}"></td>
							                            			<td th:text="${#dates.format(estado.tsInicio, 'dd-MM-yyyy HH:mm:ss')}"></td>
							                            			<td th:text="${#dates.format(estado.tsFim, 'dd-MM-yyyy HH:mm:ss')}"></td>
							                            			<td th:text="${estado.usuGravador.nome}"></td>
							                            			<td th:text="${estado.observacao}" ></td>
							                            		</tr>
							                            	</tbody>
						                                </table>
					                               	</div>
									  
									  </div>
									</div>
                                    
                                	<hr>
										<div class="bg-light clearfix">
											<a onclick="openModal();" href="unidades" class="btn btn-primary float-left" title="Listar todos as unidades"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Listar todas as unidades</a>
										  	<a onclick="openModal();" href="home" class="btn btn-primary float-right" title="Dashboard"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Retornar ao DashBoard</a>
										</div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <span th:insert="components/footer"></span>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <span th:insert="components/topButton"></span>
	<!-- End of Scroll to Top Button-->
	
    <!-- Logout Modal-->
    <span th:insert="components/logoutModal"></span>
    <!-- End of Logout Modal-->
    
    <!--         scripts js -->
	<span th:insert="components/scripts"></span>
	<!--         End of scripts js -->
			<div class="modal fade" id="modalExcluir" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	    <div class="modal-dialog" role="document">
	    	<form class="user" id="modalExcluir" method="get" th:action="@{excluirUnidade}" >
	            <input type="hidden" name="idExcluir" id="idExcluir">
	        	<div class="modal-content">
		            <div class="modal-header">
		                <h5 class="modal-title text-danger" id="exampleModalLabel">Deseja realmente excluir esta Unidade?</h5>
		                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
		                    <span aria-hidden="true">×</span>
		                </button>
		            </div>
		            <div class="modal-body">Uma unidade só pode ser excluída se ele estiver na Primeira Vez na Situação Em Edição. Vamos verificar esta condição, ok? <br/>Para prosseguir, clique no botão <span class="text-danger">"Sim, desejo excluir"</span> abaixo para confirmar a exclusão.<br/><br/>
		             Esta operação não poderá ser desfeita.</div>
		            <div class="modal-footer">
		                <button class="btn btn-secondary btn-lg" type="button" data-dismiss="modal">Não</button>
		                <button class="btn btn-danger" type="submit">Sim, desejo excluir</button>
		            </div>
		        </div>
	        </form>
	    </div>
	</div>
</body>

</html>