<!DOCTYPE html>
<html lang="en">

<head>
    <span th:insert="components/head"></span>
    <style>
    .intro{
  background: #ffffff;
  width: 100%;
  height: 30rem;
  display: flex;
  align-items: center;
}
    
    </style>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
	
		<!--         Sidebar -->
		<span th:insert="components/sidebar"></span>
		<!--         End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <span th:insert="components/topbar"></span>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <span th:insert="components/pageHeading"></span>
					<!-- End of Page Heading -->
					<!-- Page Heading -->
                    <span th:insert="components/mensagem"></span>
                    <!-- End of Page Heading -->
                    
                            <div class="row">



            <div class="col-xl-12 col-lg-12 col-md-12" >
				<div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->

                        
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="p-5">

                                    <form name="form1" class="user" th:action="@{salvarNovoUsuario}" th:method="put" th:object="${usu}" onsubmit="openModal()" >

                                    <div class="row">
                                    	<div class="col-lg-8">
	                                    	<div class="form-group ">
											    <label for="exampleInputEmail1">Nome completo<span>*</span></label>
											    <input type="text" class="form-control" id="nome" name="nome"  th:value="*{nome}" required>
											    <small id="emailHelp" class="form-text text-muted">Informe o nome completo, sem abreviações..</small>
											  </div>
	                                    </div>
	                                    
	                                    <div class="col-lg-4">
	                                    	<div class="form-group ">
											    <label for="exampleInputEmail1">E-mail<span>*</span></label>
											    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" th:value="*{email}" required>
											    <small id="emailHelp" class="form-text text-muted">Informe o e-mail. Não se equeça do @.</small>
											  </div>
	                                    </div>
                                    
                                    </div>
                                    <hr>
                                    <div class="row">
	                                    <div class="col-lg-6">                 
								              <div class="checkout__input ">
				                                <p>Unidade do novo usuário<span>*</span></p>
				                                <select class="form-control" id="idUnidadeAtual" name="idUnidadeAtual" th:field="*{idUnidadeAtual}" required>
											    	<option th:each="unidade : ${unidades}" th:value="${unidade.id}" th:utext="${unidade.id +' - '+ unidade.nome}"/>
												</select>
												<small id="emailHelp" class="form-text text-muted">Informe a Unidade do novo usuário.</small>
				                             </div>
                                        </div>
                                        
                                        <div class="col-lg-6">                 
								              <div class="checkout__input ">
				                                <p>Função exercida pelo novo usuário<span>*</span></p>
				                                <select class="form-control" id="idFuncaoAtual" name="idFuncaoAtual" th:field="*{idFuncaoAtual}" required>
											    	<option th:each="fun : ${funcoes}" th:value="${fun.id}" th:utext="${fun.id + ' - '+ fun.nome}"/>
												</select>
												<small id="emailHelp" class="form-text text-muted">Informe a Função exercida pelo novo usuário.</small>
				                             </div>
		                            	</div>

                                    </div>
                                    <hr>
                                    <div class="row">
                                    	<div class="col-lg-6">
	                                    	<div class="form-group ">
											    <label for="exampleInputEmail1">CPF</label>
											    <input type="text" class="form-control" id="cpf" name="cpf" aria-describedby="emailHelp" th:value="*{cpf}" placeholder="Ex.: 000.000.000-00" required>
											    <small id="emailHelp" class="form-text text-muted">Informe o CPF apenas com 11 números (incluindo zeros à esquerda). Não utilize pontos nem traço.</small>
											    <script type="text/javascript">
											    	$("#cpf").mask("000.000.000-00");
											    </script>
											  </div>
	                                    </div>
	                                    
	                                    <div class="col-lg-6">
	                                    	<div class="form-group">
											    <label for="exampleFormControlSelect1">Tipo de usuário</label>
											    <select class="form-control" id="tipoUsuario" th:field="*{tipoUsuario}" required>
											      <option value="1">1 - Administrador</option>
											      <option value="2">2 - Colaborador</option>
											    </select>
											    <small id="emailHelp" class="form-text text-muted">Informe o tipo de usuário. </small>
											  </div>
	                                    </div>
                                    
                                    </div>
                                    <hr>
                                   <div class="row">
                                    	<div class="col-lg-12">
	                                    	<div class="form-group ">
											    <label for="exampleInputEmail1">Perfil (Apenas para administradores de Unidade)</label>
											   <textarea class="form-control" id="curriculo" name="curriculo" rows="7" th:field="*{curriculo}" ></textarea>
											    <small id="emailHelp" class="form-text text-muted">Escreva o perfil do usuário administrador.</small>
											  </div>
	                                    </div>
									</div>
									  <hr>
									  <div class="bg-light clearfix">
									  	<button type="submit" class="btn btn-primary float-left "><i class="fas fa-save" aria-hidden="true"></i>&nbsp;Salvar Usuário</button>
									  	<a onclick="openModal();" href="usuarios" class="btn btn-primary float-right" title="Listar todos os usuários"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Listar todos os usuários</a>
									  </div>
										  <hr>
										<div class="bg-light clearfix">
										  	<a onclick="openModal();" href="home" class="btn btn-primary float-right" title="Dashboard"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Retornar ao DashBoard</a>
										</div>
									  
									</form>                                

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <span th:insert="components/footer"></span>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <span th:insert="components/topButton"></span>
	<!-- End of Scroll to Top Button-->
	
    <!-- Logout Modal-->
    <span th:insert="components/logoutModal"></span>
    <!-- End of Logout Modal-->
    
    <!--         scripts js -->
	<span th:insert="components/scripts"></span>
	<!--         End of scripts js -->

</body>

</html>