<!DOCTYPE html>
<html lang="en">

<head>
	<span th:insert="components/head"></span>
</head>

<body id="page-top">
	
<!-- 	<form name="form1" th:action="@{abrirAlterarTipoDocumento}" method="get" onsubmit="openModal()"> -->
<!-- 		<input type="hidden" id="id" name="id" value=""> -->
<!-- 	</form> -->

<!-- 	<form name="form2" th:action="@{excluirCliente}" method="get" > -->
<!-- 		<input type="hidden" id="idExcluir" name="idExcluir" value=""> -->
<!-- 	</form> -->

    <!-- Page Wrapper -->
    <div id="wrapper">
	
		<!--         Sidebar -->
		<span th:insert="components/sidebar"></span>
		<!--         End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <span th:insert="components/topbar"></span>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <span th:insert="components/pageHeading"></span>
					<!-- End of Page Heading -->
					
					<!-- Page Heading -->
                    <span th:insert="components/mensagem"></span>
					<!-- End of Page Heading -->
                    
                    
                    <!-- Content Row  -->
                            <!-- Outer Row -->
        <div class="row">

            <div class="col-xl-12 col-lg-12 col-md-12" >
				<div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="p-5">
<!--                                     <div class="text-center"> -->
<!--                                         <h1 class="h4 text-gray-900 mb-4">Todos os clientes cadastrados</h1> -->
<!--                                     </div> -->
                                    <form class="user">
                                    <div class="table-responsive">
                                <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
                                    <thead style="background-color: #858796;color: white;">
                                        <tr>
                                        	<th>Id</th>
                                            <th>Nome</th>
                                            <th>Ativo?</th>
                                            <th>#</th>
                                        </tr>
                                    </thead>

                                    <tbody>
	                            		<tr th:each="gr : ${tipos}">
	                            			<td th:text="${gr.id}"></td>
	                            			<td th:text="${gr.nome}"></td>
	                            			<td th:text="${gr.ativo == 'S'}?'Sim' : 'Não'"></td>
	                            			<td align="right">
	                            				<a class="btn btn-primary" title="Alterar tipo de unidade" th:href="'abrirAlterarTipoUnidade?id='+${gr.id}">
	                            					<i class="fas fa-edit" aria-hidden="true"></i> Alterar Tipo
	                            				</a> &nbsp;
<!-- 												<a class="btn btn-danger btn-user" title="Excluir tipo de documento" href="#" data-toggle="modal" data-target="#modalExcluir" th:onclick="'setaDadosModal(\'' + ${gr.id} + '\');'"> -->
<!-- 				                                    <i class="fas fa-trash-alt" aria-hidden="true"></i> Excluir -->
<!-- 				                                </a> -->
	                            			</td>
	                            		</tr>
	                            	</tbody>	
                                </table>
                                    
                                </div>
                                <hr>
                           		<div class="bg-light clearfix">
							  	  <a onclick="openModal();" href="home" class="btn btn-primary float-right" title="Dashboard"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Retornar ao DashBoard</a>
							    </div>
                                
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
                    
                    
                    
                    
                    
                    <!-- End of Content Row -->
                    

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <span th:insert="components/footer"></span>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <span th:insert="components/topButton"></span>
	<!-- End of Scroll to Top Button-->
	
    <!-- Logout Modal-->
    <span th:insert="components/logoutModal"></span>
    <!-- End of Logout Modal-->
    
    <!--         scripts js -->
	<span th:insert="components/scripts"></span>
	<!--         End of scripts js -->
	
	<div class="modal fade" id="modalExcluir" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	    <div class="modal-dialog" role="document">
	    	<form id="modalExcluir" method="get" th:action="@{excluirTipoDocumento}">
	            <input type="hidden" name="idExcluir" id="idExcluir">
	        	<div class="modal-content">
		            <div class="modal-header">
		                <h5 class="modal-title text-danger" id="exampleModalLabel">Deseja realmente excluir este Tipo de Documento?</h5>
		                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
		                    <span aria-hidden="true">×</span>
		                </button>
		            </div>
		            <div class="modal-body">Para prosseguir, clique no botão <span class="text-danger">"Sim, desejo excluir"</span> abaixo para confirmar a exclusão. Esta operação não poderá ser desfeita.</div>
		            <div class="modal-footer">
		                <button class="btn btn-secondary btn-lg" type="button" data-dismiss="modal">Não</button>
		                <button class="btn btn-danger" type="submit">Sim, desejo excluir</button>
		            </div>
		        </div>
	        </form>
	    </div>
	</div>
	

</body>

</html>