<!DOCTYPE html>
<html lang="en">

<head>
    <span th:insert="components/head"></span>
    <style>
    .intro{
  background: #ffffff;
  width: 100%;
  height: 30rem;
  display: flex;
  align-items: center;
}
    
    </style>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
	
		<!--         Sidebar -->
		<span th:insert="components/sidebar"></span>
		<!--         End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <span th:insert="components/topbar"></span>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <span th:insert="components/pageHeading"></span>
					<!-- End of Page Heading -->
					<!-- Page Heading -->
                    <span th:insert="components/mensagem"></span>
                    <!-- End of Page Heading -->
                    
                            <div class="row">

            <div class="col-xl-12 col-lg-12 col-md-12" >
				<div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->

                        
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="p-5">
                                
                                			<div class="text-center">
		                                        <h1 class="h4 text-gray-900 mb-4">&nbsp;</h1>
		                                    </div>
		                                    
		                                    <div class="bg-light clearfix">
											  	<a onclick="openModal();" href="novoDocumento" class="btn btn-primary float-right" title="Dashboard"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Adicionar novo documento</a>
											</div>
									 		<br/>
									 		<div th:if="${#lists.isEmpty(arquivos)}">
									  		<div class="row">
								  				<div class="col-md-12">
									  				<div class="alert alert-warning" role="alert">
													  <p style="font-weight: bold;border-bottom: 1px solid gray;"><i class="fa fa-frown-o" aria-hidden="true"></i>&nbsp;Arquivos</p>
													  <p align="center">Sem arquivos para exibir no momento.</p>
													</div>
								  				</div>
								  			</div>	
										</div>
												  	
										<div th:unless="${#lists.isEmpty(arquivos)}">
											  	<div class="table-responsive">
					                                <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
					                                    <thead style="background-color: #005aa9;color: white;">
					                                        <tr>
					                                        	<th>Id</th>
					                                            <th>Nome</th>
					                                            <th>Tipo Arq</th>
<!-- 					                                            <th>Periodicidade</th> -->
<!-- 					                                            <th>Formato</th> -->
					                                            <th>Tam</th>
					                                            <th>Data</th>
					                                            <th>Situação Atual</th>
					                                            <th>&nbsp;</th>
					                                        </tr>
					                                    </thead>

					                                    <tbody>
						                            		<tr th:each="arquivo : ${arquivos}">
						                            			<td th:text="${arquivo.id}"></td>
						                            			<td th:text="${arquivo.nomeExibicao}"></td>
						                            			<td th:text="${arquivo.tipoDocumento.nome}"></td>
<!-- 						                            			<td th:text="${arquivo.nomePeriodicidade}"></td> -->
						                            			<td th:text="${arquivo.tamanho}"></td>
						                            			<td th:text="${#dates.format(arquivo.tsRegistro, 'dd-MM-yyyy HH:mm')}"></td>
						                            			<td th:text="${arquivo.nomeEstadoAtual}"></td>
<!-- 						                            			<td th:utext=${arquivo.urlAssociacao}></td> -->
						                            			<td align="right">
<!-- 						                            				<a  title="baixar arquivo" th:href="'javascript:setarValor(\'' + ${arquivo.id} + '\');'"> -->
<!-- 						                            					<i class="fas fa-download"></i> -->
<!-- 						                            				</a><br/> -->
						                            				<a onclick="openModal();" class="btn btn-primary" title="Exibir informações do documento e do processo" th:href="'detalharDocumento?id='+${arquivo.id}">
						                            					<i class="fas fa-info" aria-hidden="true"></i> Detalhar
						                            				</a>
						                            				<a onclick="openModal();" class="btn btn-primary" title="Baixar o documento" th:href="'downloadArquivo?id='+${arquivo.id}">
						                            					<i class="fas fa-download" aria-hidden="true"></i> Download
						                            				</a>
<!-- 						                            				<a  title="Excluir" th:href="'javascript:setarValor2(\'' + ${arquivo.id} + '\');'"> -->
<!-- 						                            					<i class="fas fa-trash-alt" aria-hidden="true"></i> -->
<!-- 						                            				</a>  -->
<!-- 																	<a style="color: red;"  title="Excluir Documento" href="#" data-toggle="modal" data-target="#modalExcluir" th:onclick="'setaDadosModal(\'' + ${arquivo.id} + '\');'"> -->
<!-- 									                                    <i class="fas fa-trash-alt" aria-hidden="true"></i> -->
<!-- 									                                </a> -->
						                            			</td>
						                            		</tr>
						                            	</tbody>	
					                                </table>
			                                	</div>
	                                	</div>
									  		
									  
                                <hr>
                                    <div class="bg-light clearfix">
                                    		<span th:if="${ocultarBotao == null}">
                                    			<a onclick="openModal();" th:href="'detalharUnidade?id='+${codigoUnidade}" class="btn btn-primary float-left" title="Retornar para a Unidade"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Retornar para a Unidade</a>
                                    		</span>
										  	<a onclick="openModal();" href="home" class="btn btn-primary float-right" title="Dashboard"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Retornar ao DashBoard</a>
										</div>
                              

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <span th:insert="components/footer"></span>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <span th:insert="components/topButton"></span>
	<!-- End of Scroll to Top Button-->
	
    <!-- Logout Modal-->
    <span th:insert="components/logoutModal"></span>
    <!-- End of Logout Modal-->
    
    <!--         scripts js -->
	<span th:insert="components/scripts"></span>
	<!--         End of scripts js -->
	
	<div class="modal fade" id="modalExcluir" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	    <div class="modal-dialog" role="document">
	    	<form class="user" id="modalExcluir" method="get" th:action="@{excluirArquivo}" onsubmit="openModal()">
	            <input type="hidden" name="idExcluir" id="idExcluir">
	        	<div class="modal-content">
		            <div class="modal-header">
		                <h5 class="modal-title text-danger" id="exampleModalLabel">Deseja realmente excluir este Arquivo?</h5>
		                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
		                    <span aria-hidden="true">×</span>
		                </button>
		            </div>
		            <div class="modal-body">Um arquivo só pode ser excluído se ele estiver na Primeira Vez na Situação Em Edição. Vamos verificar esta condição, ok? <br/>Para prosseguir, clique no botão <span class="text-danger">"Sim, desejo excluir"</span> abaixo para confirmar a exclusão.<br/><br/>
		             Esta operação não poderá ser desfeita.</div>
		            <div class="modal-footer">
		                <button class="btn btn-secondary btn-lg" type="button" data-dismiss="modal">Não</button>
		                <button class="btn btn-danger" type="submit">Sim, desejo excluir</button>
		            </div>
		        </div>
	        </form>
	    </div>
	</div>
	
		<div class="modal fade" id="modalAlterarSituacao" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	    <div class="modal-dialog" role="document">
	    	<form class="user" id="modalAlterarSituacao" name="modalAlterarSituacao" method="get" th:action="@{alteraSituacaoArquivo}" onsubmit="openModal()">
	            <input type="hidden" name="idArquivo" id="idArquivo">
	            <input type="hidden" name="idNovaSituacao" id="idNovaSituacao">
	        	<div class="modal-content">
		            <div class="modal-header">
		                <h5 class="modal-title text-success" id="exampleModalLabel">Deseja realmente alterar a situação deste Arquivo?</h5>
		                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
		                    <span aria-hidden="true">×</span>
		                </button>
		            </div>
		            <div class="modal-body">
		            
		            Um arquivo só pode ser excluído se ele estiver na Primeira Vez na Situação Em Edição. Vamos verificar esta condição, ok? <br/><br/>
		            Para prosseguir, clique no botão <span class="text-success">"Sim, desejo continuar com a alteração"</span> abaixo para confirmar.<br/><br/>
		             
		             <div class="row">
                                	<div class="col-lg-12">
                                 	<div class="form-group ">
							    <label for="exampleInputEmail1">Justifique a alteração da situação do arquivo</label>
							   <textarea class="form-control" id="justificativaAlteracaoArquivo" name="justificativaAlteracaoArquivo" rows="7" required></textarea>
							  </div>
                                 </div>
					</div>
		             
		             </div>
		            <div class="modal-footer">
		                <a onclick="submeteAlteracaoArquivo();" class="btn btn-success btn-lg" type="button">Sim, desejo continuar com a alteração</a>
		                <button class="btn btn-secondary " type="button" data-dismiss="modal">Não</button>
		            </div>
		        </div>
	        </form>
	    </div>
	</div>
	

</body>

</html>